.gray{
    color: #918E9B;
}
.bold{
    font-weight: bold;
}
.card--wrapper{
    flex:0 0 auto;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}
.card--image{
    height: 235px;
    width: 100%;
    border-radius: 9px;
    margin-bottom: 5px;
}
.card--text{
    text-overflow: ellipsis;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card--rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.card--badge{
    position: absolute;
    margin: 4px 4px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}