.app--wrapper{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
}
.app--cards{
    gap: 1%;
    margin-left: 37px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
}
.app--cards::-webkit-scrollbar {
    display: none;
}